<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <!-- Section: About -->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Brian</h5>
                <p>
                    Brian is an aspiring professional interested in tile installations and house plan drawings. He aims to join a team to gain experience and raise fees for further education.
                </p>
            </div>
            <!-- Section: About -->

            <!-- Section: Links -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="text-dark">About</a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}" class="text-dark">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'testimonials' %}" class="text-dark">Testimonials</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="text-dark">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- Section: Links -->

            <!-- Section: Contact -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-dark">Email: joelmaloba003@mail.com</p>
                    </li>
                    <li>
                        <p class="text-dark">Phone: +254 742705858</p>
                    </li>
                </ul>
            </div>
            <!-- Section: Contact -->
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        © 2024 Brian's Site. All rights reserved. Created by Joel Maloba.
    </div>
</footer>
